.container {
  padding-top: 90px;
  margin: 0 auto;
  width: 333px;
}

.app-title {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.menu-item-selected {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  color: lightgrey
}

.active-link {
  color: red;
}